
- var PageTitle = 'new life of heroes!'

- var MetaDesc = false

- var favicon = false

- var GoogleFonts = 'Roboto+Condensed:400,700|Roboto:100,300,300i,400,700,900|Ubuntu:300,700&subset=cyrillic'
//- нужны массивы шрифтов

- var vk = false
- var fb = false

- var picturefill = false


- var animateCss = false

- var wowJs = false

- var jQuery = false
- var jQueryUI = false
- var jQueryEasing = false
- var jQueryMousewheel = false
- var jQueryFancybox = false

- var blurJs = false

- var TimeCircles = false

- var masonry = false

- var animateNumber = false

  - var jQkinetic = false
  - var jQsmoothDivScroll = false

//- smoothDivScroll
- var jQuery = false
- var jQueryUI = false
- var jQueryMousewheel = false
    //- jQuery Kinetic - for touch
-   var jQkinetic = false
-   var jQsmoothDivScroll = false
//- eof smoothDivScroll

- var mainJs = true
- var mainJsSrc = 'js/main.js'
//-   - var mainJsSrc = 'js/main.min.js'

- var googleAnalytics = false

- var googleMaps = false

- var bodyClasses = []

- var mainCssSrc = 'css/main.css'
 //- - var mainCssSrc = 'css/main.min.css'

- var fontAwesome = false

- var bxSlider = false
- var bxSliderCssSrc = 'js/bxslider/jquery.bxslider.css'
- var bxSliderJsSrc = 'js/bxslider/jquery.bxslider.min.js'

- var waterwheelCarousel = false

//- https://github.com/Rahisify/bxslider-4 //fully responsive, custom bxslider
- var bxSliderRahisified = false
- var bxSliderRahisifiedCssSrc = 'js/bxslider_Rahisified/jquery.bxslider.css'
- var bxSliderRahisifiedJsSrc = 'js/bxslider_Rahisified/jquery.bxslider-rahisified.min.js'

- var logoImgSrc = "img/logo.png"
- var logoImgSrcTablet = "img/logo.png"
- var logoImgSrcMobile = "img/logo-mobile.png"

 - var host = ''
 //- - var host = 'http://localhost:8888/'
 - var host = 'http://static.ucttest.in.ua/realplast/'
 - var localhost = 'http://localhost:8809/'
 - var testServer = 'http://static.ucttest.in.ua/realplast/'

- var linkIndex = host + 'index.html'
- var somePageLink = host + 'index.html'
//- // - var linkAbout = host + '01_about.html';
//- // - var linkContactInfo = host + '02_contact-info.html';
//- // - var linkDocumentation = host + '03_documentation.html';
//- // - var linkDocumentationGrid = host + '04_documentation-grid.html';
//- // - var linkFaq = host + '05_faq.html';
//- // - var linkSolutions = host + '07_solutions.html';
//- // - var linkProjects = host + '09_projects.html';
//- //
//- // - var linkProduct = host + '06_product1.html';
//- // - var linkProductGrid = host + '08_product-grid.html';
