main.page-content(// ----)
  section.constructor     // ---- [p50-0]
    .shell[-wide]   // maw; m0-a; p0-20;
      [.inner]
        .container  // ---- pt50+pb50
          .range  // ----
            .constructor-wrapper|-essence|-stage
              h2.constructor-title   // db; ttu; tac; mbN
              hr
              .constructor-content
                .constructor-content__item|unit
                  .unit-left|item-left


footer.page-footer    // main.page-content | header.page-header
  [.footer-shadow]
    .shell-wide
      .container  // ---- pt50+pb50
        .range

[row|inner]


//- for copy:
// constructor
section.constructor
  .shell
      .container
        .range
          .constructor-wrapper
            //- titele
            h2.constructor-title   // db; ttu; tac; mbN
            hr
            //- content
            .constructor-content
              .constructor-content__item|unit
                .unit-left|item-left
// constructor end
