//- p Place text like this
//-
//- p
//-   | Or like this
//-
//- p | Has no effect if it's not on its own line
//-
//- p
//-   | One line
//-   | Two lines
//-   | Three lines
//-
//- p
//-   | You can also use this approach to bkeak your text and
//-   br
//-   | insert extra tags, which can be extra useful for things like
//-   strong adding strong tags
//-   | into your text
//-
//- p
//-   | Typing and then
//-   br
//-   | continue on


//- header
//-   h1
//- nav
//-   ul
//-     li: a
//-     li: a
//-     li: a
//- main
//-   article
//-     header
//-       h1
//-     div
//-       p
//-         span
//-       blockquote
//-       h2
//-       table
//-         tr
//-           td
//-           td
//-       p
//-     footer
//-       address
//-       time
//- aside
//-   p
//- footer
//-   p



//- a(
//-   id="idname"
//-   href="link.html"
//-   rel="nofollow"
//-   target="blank"
//-   class=["classname", "classtwo"]
//- ) Text inside
//-
//- a()&attributes({
//-   'id': "idname",
//-   'href': "link.html",
//-   'rel': "nofollow",
//-   'target': "blank",
//-   'class': ["classname", "classtwo"]
//- }) Text inside


//- PUGs inline nesting syntax
//- div: p: span


//- | - pipe symbol. Indicates that we use text or straight/raw HTML

block content
  h1 #{PageTitle}
