
// pre-footer
section.pre-footer
  .shell
    .container
      .range
        .pre-footer-scene
          .group
            .group-1.parallax(data-offset='40')
            .group-1.parallax(data-offset='40')
            .group-1.parallax(data-offset='40')
            .group-1.parallax(data-offset='40')
          .group
            .group-2.parallax-rev(data-offset='20')
            .group-2.parallax-rev(data-offset='20')
            .group-2.parallax-rev(data-offset='20')
            .group-2.parallax-rev(data-offset='20')
            .group-2.parallax-rev(data-offset='20')
          .group
            .group-3.parallax(data-offset='75')
            .group-3.parallax(data-offset='75')
            .group-3.parallax(data-offset='75')
            .group-3.parallax(data-offset='75')
          .group
            .group-4.parallax(data-offset='50')
            .group-4.parallax(data-offset='50')
            .group-4.parallax(data-offset='50')
            .group-4.parallax(data-offset='50')
            .group-4.parallax(data-offset='50')


  //- .pre-footer-wrapper
  //-         //- titele
  //-         h2.pre-footer-title   // db; ttu; tac; mbN
  //-         hr
  //-         //- content
  //-         .pre-footer-content
  //-           .pre-footer-content__item|unit
  //-             .unit-left|item-left
// pre-footer end
