
// pre-footer
section.pre-footer
  //- .shell
  //-   .container
  //-     .range
  //-       .pre-footer-wrapper
  //-         //- titele
  //-         h2.pre-footer-title   // db; ttu; tac; mbN
  //-         hr
  //-         //- content
  //-         .pre-footer-content
  //-           .pre-footer-content__item|unit
  //-             .unit-left|item-left
// pre-footer end
