// breadcrumbs
.breadcrumbs
  .shell
    .container
      .range
        ul.breadcrumbs-essence
          li.breadcrumbs__item
            a.breadcrumbs__link(href="javascript:void(0)") Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Советы по выбору



// breadcrumbs end
