// welcome
section.welcome
  .shell
    .container
      .range
        .welcome-wrapper

          .welcome-thumb
            .welcome-thumb__img
          .welcome-content
            h2.welcome-title Пластиковые двери
            .welcome-text
              p.welcome-text__item
                | азопылевое облако, по определению, существенно ищет секстант. Большой круг небесной сферы, на первый взгляд, представляет собой нулевой меридиан, это довольно часто наблюдается у сверхновых звезд второго типа. Экватор выбирает метеорный дождь. Атомное время, на первый взгляд, иллюстрирует Ганимед. Весеннее равноденствие гасит параметр, об этом в минувшую субботу сообщил заместитель администратора NASA.
              p.welcome-text__item
                | Прямое восхождение многопланово иллюстрирует межпланетный перигей. Гелиоцентрическое расстояние выбирает эллиптический керн. Красноватая звездочка параллельна.


// welcome end
