// ternar-tootip

section.ternar-tootip
  .shell
      .container
        .range
          .ternar-tootip-wrapper

            //- title
            .ternar-tootip-title
              h2.ternar-tootip-title-text Виды пластиковых дверей

            .ternar-tootip-content


                a.ternar-tootip-content__item(href='#balcons')
                  img.ternar-tootip__item-thumb(src="img/012_ternar-tootip-01.png")
                  .ternar-tootip__item-desc.ternar-tooltip-triangle
                    .ternar-tootip__item-title Балконные
                    .ternar-tootip__item-text Восход изменяем. Соединение, следуя пионерской работе Эдвина Хаббла, перечеркивает нулевой. идиан.


                a.ternar-tootip-content__item(href='#interior')
                  img.ternar-tootip__item-thumb(src="img/012_ternar-tootip-02.png")
                  .ternar-tootip__item-desc.ternar-tooltip-triangle
                    .ternar-tootip__item-title Межкомнатные
                    .ternar-tootip__item-text Восход изменяем. Соединение, следуя пионерской работе Эдвина Хаббла, перечеркивает нулевой.


                a.ternar-tootip-content__item(href='#entry')
                  img.ternar-tootip__item-thumb(src="img/012_ternar-tootip-03.png")
                  .ternar-tootip__item-desc.ternar-tooltip-triangle
                    .ternar-tootip__item-title Внешние
                    .ternar-tootip__item-text Восход изменяем. Соединение, следуя пионерской работе Эдвина Хаббла, перечеркивает нулевой.



            //- p.ternar-tootip-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// ternar-tootip end
