// balcons

section.balcons#balcons
  .shell
      .container
        .range
          .balcons-wrapper

            //- title
            .balcons-title-container
              h2.balcons-title Балконные двери

            .balcons-content
              .balcons-container(class='balcons-features')
                picture.balcons-features-thumb
                  source(media='(min-width: 1160px)', srcset='img/013_balcon.png 1x')
                  source(media='(min-width: 768px)', srcset='img/013_balcon--tablet.png 1x')
                  img.balcons-features-thumb__img(src='img/013_balcon--mobile.png')
                ul.balcons-features-list
                  li.balcons-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.balcons-features-list-item Визуально такие окна ничем не отличаются
                  li.balcons-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.balcons-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.
                  li.balcons-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.balcons-features-list-item Визуально такие окна ничем не отличаются
                  li.balcons-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.balcons-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.


              .balcons-container(class='balcons-advices')
                .balcons-advices-title
                  h3.balcons-advices-title-text Советы по выбору
                .balcons-advices-columns



                  .balcons-advices-column
                    .balcons-advices-column-num 1
                    .balcons-advices-column-title Внешний вид
                    .balcons-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.



                  .balcons-advices-column
                    .balcons-advices-column-num 2
                    .balcons-advices-column-title Внутренний вид
                    .balcons-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.


                  .balcons-advices-column
                    .balcons-advices-column-num 3
                    .balcons-advices-column-title Субъективный вид
                    .balcons-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.








// balcons end
