// interior

section.interior#interior
  .shell
      .container
        .range
          .interior-wrapper

            //- title
            .interior-title-container
              h2.interior-title Межкомнатные двери

            .interior-content
              .interior-container(class='interior-features')
                picture.interior-features-thumb
                  source(media='(min-width: 1160px)', srcset='img/013_interior.png 1x')
                  source(media='(min-width: 768px)', srcset='img/013_interior--tablet.png 1x')
                  img.advantages__img(src='img/013_interior--mobile.png')
                ul.interior-features-list
                  li.interior-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.interior-features-list-item Визуально такие окна ничем не отличаются
                  li.interior-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.interior-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.
                  li.interior-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.interior-features-list-item Визуально такие окна ничем не отличаются
                  li.interior-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.interior-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.


              .interior-container(class='interior-advices')
                .interior-advices-title
                  h3.interior-advices-title-text Советы по выбору
                .interior-advices-columns



                  .interior-advices-column
                    .interior-advices-column-num 1
                    .interior-advices-column-title Внешний вид
                    .interior-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.



                  .interior-advices-column
                    .interior-advices-column-num 2
                    .interior-advices-column-title Внутренний вид
                    .interior-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.


                  .interior-advices-column
                    .interior-advices-column-num 3
                    .interior-advices-column-title Субъективный вид
                    .interior-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.








// interior end
