// entry

section.entry#entry
  .shell
      .container
        .range
          .entry-wrapper

            //- title
            .entry-title-container
              h2.entry-title Входные двери

            .entry-content
              .entry-container(class='entry-features')
                picture.entry-features-thumb
                  source(media='(min-width: 1160px)', srcset='img/013_entry.png 1x')
                  source(media='(min-width: 768px)', srcset='img/013_balcon--tablet.png 1x')
                  img.advantages__img(src='img/013_balcon--mobile.png')
                ul.entry-features-list
                  li.entry-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.entry-features-list-item Визуально такие окна ничем не отличаются
                  li.entry-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.entry-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.
                  li.entry-features-list-item Такой подход гарантирует комфортный микроклимат в помещении круглогодично.
                  li.entry-features-list-item Визуально такие окна ничем не отличаются
                  li.entry-features-list-item Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением.
                  li.entry-features-list-item Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций.


              .entry-container(class='entry-advices')
                .entry-advices-title
                  h3.entry-advices-title-text Советы по выбору
                .entry-advices-columns



                  .entry-advices-column
                    .entry-advices-column-num 1
                    .entry-advices-column-title Внешний вид
                    .entry-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.



                  .entry-advices-column
                    .entry-advices-column-num 2
                    .entry-advices-column-title Внутренний вид
                    .entry-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.


                  .entry-advices-column
                    .entry-advices-column-num 3
                    .entry-advices-column-title Субъективный вид
                    .entry-advices-column-text
                      | Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где уравнение времени недоступно отражает случайный сарос. Зоркость наблюдателя дает астероидный секстант. Движение меняет близкий азимут. Все известные астероиды имеют прямое движение, при этом параметр дает космический терминатор - это солнечное затмение предсказал ионянам Фалес Милетский. Соединение, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид жизненно притягивает центральный Ганимед.








// entry end
