//- page-header
header.page-header
  .shell
      .container
        .range
          .page-header-wrapper
            .page-header-content
              .page-header-logo--top
                img.page-header-logo--top
              .page-header-logo--mid
                img.page-header-logo--mid
                //- frames
                .page-header-logo-frames
                  .logo-frames__top-left
                  .logo-frames__top-right
                  .logo-frames__bottom-left
                  .logo-frames__bottom-right
                //- eof frames
              .page-header-logo--btm
                img.page-header-logo--btm

  //- decorations
  .decor
    .decor__midlines
      .decor__redline
    .decor__corner
      .decor__top-left
      .decor__top-right
      .decor__bottom-left
      .decor__bottom-right
  //- eof decorations

//- page-header end
