
//- for copy:
// product-top
section.product.product-top
  .shell
    .container
      .range
        .product-wrapper

          .product-top-logo
          hr
          h2.product-top-title товары

// product-top end
