//- for copy:
// product-items
section.product.product-items
  .shell
      .container
        .range
          .product-wrapper

            .product-content

              //- #01
              .product-item
                .product-item__inner
                  .product-item__container
                    .product-item__title lingerie
                .product-item__thumb
              //- eof item

              //- #02
              .product-item
                .product-item__inner
                  .product-item__container
                    .product-item__title kids lingerie
                .product-item__thumb
              //- eof item

              //- #03
              .product-item
                .product-item__inner
                  .product-item__container
                    .product-item__title nightgowns
                .product-item__thumb
              //- eof item

              //- #04
              .product-item
                .product-item__inner
                  .product-item__container
                    .product-item__title pajamas
                .product-item__thumb
              //- eof item



// product-items end
