//- for copy:
// product-items
section.product.product-items
  .shell
    .container
      .range
        .product-wrapper

          .product-content

            //- #01
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title lingerie
              img.product-item__thumb(src="img/product-items__item-01.jpg")
            //- eof item

            //- #02
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title kids lingerie
              img.product-item__thumb(src="img/product-items__item-02.jpg")
            //- eof item

            //- #03
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title nightgowns
              img.product-item__thumb(src="img/product-items__item-03.jpg")
            //- eof item

            //- #04
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title pajamas
              img.product-item__thumb(src="img/product-items__item-04.jpg")
            //- eof item



// product-items end
