//- for copy:
// product-items
section.product.product-items
  //- .brilliants
  .black
  .shell
    .container
      .range
        .product-wrapper

          .product-content

            //- #01
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title lingerie
              picture.product-item__thumb
                source(media='(min-width: 1920px)', srcset='img/product-items__item-01.jpg 1x')
                source(media='(min-width: 1366px)', srcset='img/product-items__item-01.jpg 1x')
                img.advantages__img(src='img/product-items__item-01--i7.jpg')
            //- eof item

            //- #02
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title kids lingerie
              picture.product-item__thumb
                source(media='(min-width: 1920px)', srcset='img/product-items__item-02.jpg 1x')
                source(media='(min-width: 1366px)', srcset='img/product-items__item-02.jpg 1x')
                img.advantages__img(src='img/product-items__item-02--i7.jpg')
            //- eof item

            //- #03
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title nightcowns
              picture.product-item__thumb
                source(media='(min-width: 1920px)', srcset='img/product-items__item-03.jpg 1x')
                source(media='(min-width: 1366px)', srcset='img/product-items__item-03.jpg 1x')
                img.advantages__img(src='img/product-items__item-03--i7.jpg')
            //- eof item

            //- #04
            .product-item
              .product-item__inner
                .product-item__container
                  .product-item__title pijamas
              picture.product-item__thumb
                source(media='(min-width: 1920px)', srcset='img/product-items__item-04.jpg 1x')
                source(media='(min-width: 1366px)', srcset='img/product-items__item-04.jpg 1x')
                img.advantages__img(src='img/product-items__item-04--i7.jpg')
            //- eof item

  .brills-btm
    .brills-btm-container
      .fly.fly-6
        .brill_06
      .fly.fly-7
        .brill_07
      .fly.fly-8
        .brill_08

// product-items end
