//- for copy:
// product-items
section.about
  .shell
    .container
      .range
        .product-wrapper

          .product-content

            //- #fluid
            .container-fluid
              .shell-wide
                .inner
                  .wrapper
                    .content
                      .item


                      .item-modal


                      .item
                        .item__container
                          .item__content
                            .item-title
                            .item-desc
                              p.item-text
                              p.item-text


              .product-item__inner
                .product-item__container
                  .product-item__title lingerie
              .product-item__thumb
            //- eof fluid




// product-items end
