//- for copy:
// about-content
section.about.about-content
  .shell
    .container
      .range
        .about-wrapper

          .about-content

            //- #fluid
            .container-fluid
              .shell-wide
                .inner
                  .wrapper
                    .content
                      .item


                      .item-modal


                      .item
                        .item__container
                          .item__content
                            .item-title
                            .item-desc
                              p.item-text
                              p.item-text


              .about-item__inner
                .about-item__container
                  .about-item__title lingerie
              .about-item__thumb
            //- eof fluid




// about-content end
