// counter
.counter
  .counter_line.counter_line--main
  .counter_line.counter_line--back
  .counter_line.counter_line--front
  .counter_line.counter_line--black
  .counter_line.counter_line--black_mid
  .counter_line.counter_line--black_btm
  .shell
    .container
      .range
        .counter-essence#counter


          .counter-achievement
            .counter-achievement__title Наши достижения


          .counter-numbers
            //- item
            .counter-numbers__item
              .counter-numbers__item__num.counter-item 0
              .counter-numbers__item__title Человек стали нашими клиентами
            //- item
            .counter-numbers__item
              .counter-numbers__item__num.counter-middle-item 0
              .counter-numbers__item__title Клиентов готовы нас рекомендовать
            //- item
            .counter-numbers__item
              .counter-numbers__item__num.counter-item 0
              .counter-numbers__item__title Клиентов за&nbsp;11&nbsp;лет&nbsp;работы

// counter end
