

// footer
footer.footer
  .shell
    .container
      .range
        //- content
        .footer-content
          .footer-content-inner
            .footer-top
              //- img.footer-top-img(src="img/index-footer-top-welcome.png" alt="")

            .footer-bottom
              .shell-wide

              .footer-bottom-container
                .footer-bottom-container__inner
                  .footer-bottom-container__content
                    .footer-bottom-container__address 6 Olhynska St, Kyiv
                    .footer-bottom-container__address info@la-reine.com.ua
                    a.footer-bottom-container__phone(href="callto:+380442244844") 044 22 44 844
                .footer-bottom-container__black

            .footer-copy
              p.footer-copy-content The website is under construction
// footer end
