// feedbacks
section.feedbacks
  .shell
    .container
      .range
        .feedbacks-essence


          //- title
          h2.feedbacks-title Что о нас говорят
          .divider
          .slider-stage
            //- #carousel
              .slider-item
                img.imago#item-1(src='http://placehold.it/200x350/faf345/000000&text=item 1', alt='Image 1')
                h2 Slide #1
              .slider-item
                img.imago#item-2(src='http://placehold.it/200x350/ffa345/000000&text=item 2', alt='Image 2')
                h2 Slide #2
              .slider-item
                img.imago#item-3(src='http://placehold.it/200x350/ffa3ee/000000&text=item 3', alt='Image 3')
                h2 Slide #3
              .slider-item
                .slider-item__content
                  p Спасибо сотрудникам компании, которые не только грамотно провели все работы по установке пластиковых окон в комнату, но и дали дельные советы в процессе работы как ухаживать за окнами.Сотрудничеством очень доволен ...
                .slider-item-author
                  .slider-item-author__photo
                  .slider-item-author__name Михаил Виссарионов

            //- h2 Sample callback output
            //-   #callback-output


            .slider#carousel






              //- item
              .slider-item
                .slider-item__content
                  .slider-item__inner
                    p Спасибо сотрудникам компании, которые не только грамотно провели все работы по установке пластиковых окон в комнату, но и дали дельные советы в процессе работы как ухаживать за окнами.Сотрудничеством очень доволен ...
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-03.png")
                  .slider-item-author__name Михаил Виссарионов


              //- item
              .slider-item(class='active')
                .slider-item__content
                  blockquote.slider-item__inner
                    p Потребность в замене окон на балконе возникла, когда я переехал в новую квартиру. В данную компанию обратилась в первый раз. Для меня очень важно, как со мной общаются, и какой уровень сервиса мне предлагают. Менеджер очень доходчиво и профессионально рассказал об окнах, подобрал оптимальную конфигурацию для моей квартиры. Конфигурация остекления балкона: ПРОФИЛЬ: REHAU ECOSOL-DESIGN 70, СТЕКЛОПАКЕТ
                    date Пётр, апрель 2016
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-01.png")
                  .slider-item-author__name Пётр Шишкин


              //- item
              .slider-item
                .slider-item__content
                  .slider-item__inner
                    //- video
                    //- img(src="https://placehold.it/215x160/7f746e/fff?text=youtube")
                    iframe.slider-item__iframe(src='https://www.youtube.com/embed/GeeDUDhMZOs', frameborder='0', allowfullscreen='')
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-02.png")
                  .slider-item-author__name Валентина Опаленскова

            //- .controls
            //-   a.controls-prev#prev(href="#")
            //-   a.controls-next#next(href="#")



            .slider-controls
              .slider-controls__arrow.left#prev(href="#")
              .slider-controls__arrow.right#next(href="#")



          //- content
            //- slider
          //- .feedbacks-slider
// feedbacks end
