// gallery
.gallery
  .shell
    .container
      .range
        #gallery-smooth.gallery-smooth
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_01.jpg")
                    img(src="img/gallery-smooth_01.jpg")
              .col.col-2
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_02.jpg")
                    img(src="img/gallery-smooth_02.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_03.jpg")
                    img(src="img/gallery-smooth_03.jpg")
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_04.jpg")
                    img(src="img/gallery-smooth_04.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_05.jpg")
                    img(src="img/gallery-smooth_05.jpg")
            .row-2
              .col-s
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_06.jpg")
                    img(src="img/gallery-smooth_06.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_07.jpg")
                    img(src="img/gallery-smooth_07.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_08.jpg")
                    img(src="img/gallery-smooth_08.jpg")
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_01.jpg")
                    img(src="img/gallery-smooth_01.jpg")
              .col.col-2
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_02.jpg")
                    img(src="img/gallery-smooth_02.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_03.jpg")
                    img(src="img/gallery-smooth_03.jpg")
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_04.jpg")
                    img(src="img/gallery-smooth_04.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_05.jpg")
                    img(src="img/gallery-smooth_05.jpg")
            .row-2
              .col-s
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_06.jpg")
                    img(src="img/gallery-smooth_06.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_07.jpg")
                    img(src="img/gallery-smooth_07.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_08.jpg")
                    img(src="img/gallery-smooth_08.jpg")

        //- anchor to map
        .gallery__expand
          .gallery__expand-item.divider
          a.gallery__expand-item.gallery__expand__btn Смотреть объекты на карте
          .gallery__expand-item.divider
// gallery end
