// consultation
section.consultation
  .shell
    .container
      .range
        .consultation-essence


          h2.consultation-title Заказать бесплатную консультацию
          .consultation-btn.request-callback Заказать

// consultation end
