// video
.video
  .shell
    .container
      .range
        .video-essence


          .video__item
            iframe(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='').video__item__essence
            //- img(src="https://placehold.it/930x580/796b68/fff?text=просмотреть видео")


        //- expand
        .video__expand
          .video__expand-item.divider
          a.video__expand-item.video__expand__btn(href="javascript:void(0)") Смотреть все видео
          .video__expand-item.divider
// video end
