// partners
section.partners
  .shell
    .container
      .range
        .partners-essence


          //- title
          h2.partners-main-title Наши партнёры


          //- logo
          .partners-logo


          //- content
          .partners-content
            .partners-content-left
              .partners__title Электро-генератор GENERAC
              .partners__desc
                p Невозможно забыть то время, когда при отключении электричества люди сидели при свечах и керосиновых лампах. Приходилось менять планы и привычный распорядок. Поэтому технический прогресс никогда не стоит на месте и, в подобных случаях, уже нормой стало наличие резервного генератора, обеспечивающего жизнедеятельность различного технического оборудования и наличие необходимого комфорта.
              .partners__footer
                //- a.partners__footer__btn(href="javascript:void(0)") Перейти на сайт
                .divider
            .partners-content-right

// partners end
