// firms

section.firms
  .shell
    .container
      .range
        .firms-essence#makeMeScrollable

            //- firm 00
            .firms__item
              .firms__item__thumb
                img(src="img/firm-00.jpg")
              .firms__item__title SIEGNIA
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 01
            .firms__item
              .firms__item__thumb
                img(src="img/firm-01.jpg")
              .firms__item__title SIEGNIA
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 02
            .firms__item
              .firms__item__thumb
                img(src="img/firm-02.jpg")
              .firms__item__title ROTO
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 03
            .firms__item
              .firms__item__thumb
                img(src="img/firm-03.jpg")
              .firms__item__title REHAU
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 04
            .firms__item
              .firms__item__thumb
                img(src="img/firm-04.jpg")
              .firms__item__title GALVIN
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 05
            .firms__item
              .firms__item__thumb
                img(src="img/firm-05.jpg")
              .firms__item__title ARTEC
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 06
            .firms__item
              .firms__item__thumb
                img(src="img/firm-06.jpg")
              .firms__item__title ENWIN
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 00
            .firms__item
              .firms__item__thumb
                img(src="img/firm-00.jpg")
              .firms__item__title SIEGNIA
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 01
            .firms__item
              .firms__item__thumb
                img(src="img/firm-01.jpg")
              .firms__item__title SIEGNIA
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 02
            .firms__item
              .firms__item__thumb
                img(src="img/firm-02.jpg")
              .firms__item__title ROTO
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 03
            .firms__item
              .firms__item__thumb
                img(src="img/firm-03.jpg")
              .firms__item__title REHAU
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 04
            .firms__item
              .firms__item__thumb
                img(src="img/firm-04.jpg")
              .firms__item__title GALVIN
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 05
            .firms__item
              .firms__item__thumb
                img(src="img/firm-05.jpg")
              .firms__item__title ARTEC
              .firms__item__desc: p Короткий текст про партнёра, что он производит.
            //- firm 06
            .firms__item
              .firms__item__thumb
                img(src="img/firm-06.jpg")
              .firms__item__title ENWIN
              .firms__item__desc: p Короткий текст про партнёра, что он производит.


// firms end
