footer.footer
  .shell
    .container
      .footer-essence


        //- menus
        .row
          .col-1.col
            .footer-box
              h4 Окна
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Оконные системы
                li: a.footer-box__link(href="javascript:void(0)") Стеклопакет
                li: a.footer-box__link(href="javascript:void(0)") Фурнитура
                li: a.footer-box__link(href="javascript:void(0)") Аксессуары
                li: a.footer-box__link(href="javascript:void(0)") Энергосбережение
                li: a.footer-box__link(href="javascript:void(0)") Советы по выбору
                li: a.footer-box__link(href="javascript:void(0)") Доп опции
          .col-2.col
            .footer-box
              h4 Остекление
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Цех
                li: a.footer-box__link(href="javascript:void(0)") Коттедж
                li: a.footer-box__link(href="javascript:void(0)") Квартира
                li: a.footer-box__link(href="javascript:void(0)") Балкон
                li: a.footer-box__link(href="javascript:void(0)") Офис
            .footer-box
              h4 Продукция
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Двери
                li: a.footer-box__link(href="javascript:void(0)") Витражи
                li: a.footer-box__link(href="javascript:void(0)") Перегородки
                li: a.footer-box__link(href="javascript:void(0)") Входные группы
                li: a.footer-box__link(href="javascript:void(0)") Нестандартные конструкции
          .col-3.col
            .footer-box
              h4 Услуги
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Консультация
                li: a.footer-box__link(href="javascript:void(0)") Замер
                li: a.footer-box__link(href="javascript:void(0)") Доставка
                li: a.footer-box__link(href="javascript:void(0)") Монтаж
                li: a.footer-box__link(href="javascript:void(0)") Гарантия
            .footer-box
              h4 Цены
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Типовые окна
                li: a.footer-box__link(href="javascript:void(0)") Калькулятор
                li: a.footer-box__link(href="javascript:void(0)") Акции
                li: a.footer-box__link(href="javascript:void(0)") Рассрочка под 0%
          .col-4.col
            .footer-box
              h4 О компании
              ul.list-unstyled
                li: a.footer-box__link(href="javascript:void(0)") Наши преимущества
                li: a.footer-box__link(href="javascript:void(0)") Отдел продаж
                li: a.footer-box__link(href="javascript:void(0)") Отдел производства
                li: a.footer-box__link(href="javascript:void(0)") Монтажный отдел
                li: a.footer-box__link(href="javascript:void(0)") Отдел доставки
                li: a.footer-box__link(href="javascript:void(0)") Наши сотрудники
                li: a.footer-box__link(href="javascript:void(0)") Наши сертификаты
                li: a.footer-box__link(href="javascript:void(0)") Наши партнёры
                li: a.footer-box__link(href="javascript:void(0)") Наши обьекты
                li: a.footer-box__link(href="javascript:void(0)") Отзывы
                li: a.footer-box__link(href="javascript:void(0)") Контакты

          //- right content
          .col-5.footer-contact-infos

            .footer-contact-infos__left
              //- callback
              .footer__callback
                h4.footer__title Гарячая линия:
                .footer__callback__phone +7 727 228-28-28


              //- socials
              .footer__socials
                h4.footer__title Мы в социальных сетях:
                .footer__socials-wrapper
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-fb svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-fb'}])
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-vk svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-vk'}])
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-yt svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-yt'}])

            .footer-contact-infos__right
              //- addresses
              .footer__address
                h4.footer__title Адреса наших отделений:
                .footer__address__item
                  .footer__address__item__city г. Алматы
                  ul.footer__address__item__streets
                    li 2-й микрорайон, д.5
                    li ул. Сатпаева, 50
                    li ул. Казыбаева, 26
                .footer__address__item
                  .footer__address__item__city г. Капшагай
                  ul.footer__address__item__streets
                    li 2-й микрорайон, д.13


        //- footer-bottom-row
        .footer-bottom-row
          .footer__copy &copy; Real Plast
          .footer__manufactured
            span Сделано в
            +svg([{'class': 'icon-manufactured svg-icon', 'pathid': 'svg-manufactured', 'filename':'manufactured_uct'}])
