// offcanvas nav side
.offcanvas-nav-side.js-nav
  .offcanvas-nav-side-wrapper

    //- top row
    .offcanvas-nav-side__top-row
      a.offcanvas-nav-side__close.js-nav-close(href="")
        .burger
        .nav-icon-clone
          span
          span
          span
          span
      a.offcanvas-nav-side__logo(href="/")
        .logo

    //- content
    .offcanvas-nav-side__content


      //- menu
      ul.offcanvas-nav-side__menu


        //- menu-item
        li.offcanvas-nav-side__menu__item.item-windows(data-offcanvas-menu="1")
          a.link(href="#")
            +svg([{'class': 'icon-item-windows svg-icon', 'pathid': 'svg-item-windows', 'filename':'offcanvas-nav_item-01'}])
            .link__text Окна




        //- menu-item
        li.offcanvas-nav-side__menu__item.item-glazing(data-offcanvas-menu="2")
          a.link(href="#")
            +svg([{'class': 'icon-item-glazing svg-icon', 'pathid': 'svg-item-glazing', 'filename':'offcanvas-nav_item-02'}])
            .link__text Остекление




        //- menu-item
        li.offcanvas-nav-side__menu__item.item-production(data-offcanvas-menu="3")
          a.link(href="#")
            +svg([{'class': 'icon-item-production svg-icon', 'pathid': 'svg-item-production', 'filename':'offcanvas-nav_item-03'}])
            .link__text Продукция

            //- sub-menus
            //- ul.offcanvas-nav-side__sub-menus
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text


        //- menu-item
        li.offcanvas-nav-side__menu__item.item-prices(data-offcanvas-menu="5")
          a.link(href="#")
            +svg([{'class': 'icon-item-prices svg-icon', 'pathid': 'svg-item-prices', 'filename':'offcanvas-nav_item-04'}])
            .link__text Цены

            //- //- sub-menus
            //- ul.offcanvas-nav-side__sub-menus
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-
            //-
            //-   //- separate sub list
            //-   li.offcanvas-nav-side__sub-list__title О компании
            //-
            //-
            //-     ul.offcanvas-nav-side__sub-list
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text
            //-       li.offcanvas-nav-side__sub-list__item
            //-         a.offcanvas-nav-side__sub-list__link link_text



        li.offcanvas-nav-side__menu__item.item-btm(data-offcanvas-menu="6")
          a.link(href="#")
            .link__text Услуги

        li.offcanvas-nav-side__menu__item.item-btm.item-about(data-offcanvas-menu="7")
          a.link(href="#")
            .link__text О компании

        li.offcanvas-nav-side__menu__item.item-btm.item-useful(data-offcanvas-menu="8")
          a.link(href="#")
            .link__text Полезная Информация

        li.offcanvas-nav-side__menu__item.item-btm.item-search(data-offcanvas-menu="9")
          a.link(href="#")
            +svg([{'class': 'icon-nav-search svg-icon', 'pathid': 'svg-search', 'filename':'offcanvas-right_search'}])
            .link__text Поиск

        li.offcanvas-nav-side__menu__item.item-btm.item-callback(data-offcanvas-menu="10")
          a.link(href="#")
            .link__text Заказ звонка
          //- . . . . . . . as above

      //- sub-menus
      ul.offcanvas-nav-side__sub-menus.subm__windows(data-offcanvas-subm="1")


        //- separate sub list
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link.active(href="#") Оконные системы
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Стеклопакет
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Фурнитура
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Аксессуары
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Энергосбережение
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Доп. опции
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link(href="#") Готовые Решения


      //- sub-menus
      ul.offcanvas-nav-side__sub-menus.subm__about(data-offcanvas-subm="7")


        //- separate sub list
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link О компании


          ul.offcanvas-nav-side__sub-list
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Наши преимущества
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Отдел продаж
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Отдел производства
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Монтажный отдел
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Отдел доставки
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Наши сотрудники


        //- separate sub list
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link Наши достижения


          ul.offcanvas-nav-side__sub-list
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Наши сертификаты
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Наши партнёры
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Наши обьекты
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Отзывы


        //- separate sub list
        li.offcanvas-nav-side__sub-list__title
          a.offcanvas-nav-side__sub-list__title__link Контакты


          ul.offcanvas-nav-side__sub-list
            li.offcanvas-nav-side__sub-list__item
              a.offcanvas-nav-side__sub-list__link(href="#") Обратная связь


      //- sub-menus
      ul.offcanvas-nav-side__sub-menus.subm__burger_search(data-offcanvas-subm="9")
        li.offcanvas-nav-side__search#burger-search
          +svg([{'class': 'icon-burger-search svg-icon', 'pathid': 'svg-search', 'filename':'offcanvas-right_search'}])
          .offcanvas-nav-side__search.title Введите интересующий вас запрос
          //- form
          form.offcanvas-nav-side__form
            input.offcanvas-nav-side__form-input(name="burger-sfield")
            button.offcanvas-nav-side__form-btn(type="button" onclick="return: false;") Найти






// offcanvas nav side end
