// offcanvas side burger
//- .mask__offcanvas-burger-side
.offcanvas-burger-side.js-burger-side
  .offcanvas-burger-side-wrapper
    //- foreground
    .offcanvas-burger-side__foreground
      ul.offcanvas-burger-side__list



        //- BURGER btn ITSSELF
        li.offcanvas-burger-side__item.burger-btn#burger-btn
          //-
          //- a.offcanvas-nav-side__close.js-nav-close(href="")
          .burger
            #nav-icon
              span
              span
              span
              span



        //- LOGO
        li.offcanvas-burger-side__item.burger-logo#burger-logo
          a.offcanvas-burger-side__logo(href="/")
            .logo


        //- CALLBACK
        li.offcanvas-burger-side__item.burger-callback#burger-callback
          .offcanvas-burger-side__callback.title +77054009101
          .icon-burger-callback-icon-container
            +svg([{'class': 'icon-burger-callback svg-icon', 'pathid': 'svg-burger-callback', 'filename':'offcanvas-burger-callback'}])



// offcanvas side burger end
