// window
.window
  .shell
    .container
      .range
        .window-wrapper
          .window__sky
            //- rainy
            .window__rainy
              video(mute='', loop='', autoplay='', src=host + 'img/skiesHD.mp4', poster=host + "img/skiesHD.jpg")
              section
                canvas#title(width='850px', height='730px')
              .window__rainy__mask


            //- rainy END

          .window__window
          .window__rollet
            h1.window__rollet-title 404
            h2.window__rollet-desc Такой страницы не&nbsp;существует
          .window__tree
            .parallax.parallax-index
              .window__tree__essence#tree


// window end
