// contact

section.contact
  .shell
    .container
      .range
        .contact-wrapper

          //- title
          h2.contact-title Вы можете оформить заказ прямо сейчас

          //- content
          .contact-content
            p.contact__desc Мы хорошо понимаем в оконной сфере и готовы помочь вам, и ответить на любой вопрос.
            form.contact__form
              input.contact__form__field.contact__form__field--name(placeholder="Ваше имя")
              input.contact__form__field.contact__form__field--tel(placeholder="Ваш номер телефона")
              button.contact__form__btn(type="button" onclick="return: false;") Перезвоните мне



// contact end
