// .mask__offcanvas-nav-side {
//   position: absolute;
//   width: 200px;
//   height: 100%;
//   top: 0;
//   left: -200px;
//   background: hsla(75, 58%, 52%, 0.66);
//   background: hsla(320, 58%, 52%, 0.36);
//   z-index: 10000;
// }


.offcanvas-nav-side {

  // @media #{$mobile} {
  //   display: none;
  // }

  // & .shell {
  //
  // }
  //
  // & .inner {
  //   // wide bg [2] for example
  // }

  // & .container {
  //   //
  // }

  & .offcanvas-nav-side-wrapper {
    width: 280px;
    background: #eaeae6;
    box-shadow: 3px 0px 5px 0px rgba(23, 26, 27, 0.11);
    position: fixed;
    top: 0;
    left: -180px;
    height: 99000px;
    z-index: 203;

    transition: .3s ease-out;

    @media #{$tablet} {
      left: -300px;
      background: none;
    }

    @media #{$mobile} {
      left: -300px;
      background: none;
    }

    &.wide-opened {
      width: 400px;

      @media #{$mobile} {
        width: 310px;
      }
    }
  }

  & .PROTO-essence {
    //
  }
}


.offcanvas-nav-side {
  &.opened{
    & .offcanvas-nav-side-wrapper {
      left: 0px;
    }
  }
}



.offcanvas-nav-side {
  & .offcanvas-nav-side__close {
    display: block;
    float: left;
    position: relative;
    width: 180px;
    height: 105px;

    @media #{$tablet} {
      height: 60px;
      width: 80px;
      // background: hsla(116, 19%, 16%, 0.58);
    }

    @media #{$mobile} {
      height: 60px;
      width: 80px;
      // background: hsla(116, 19%, 16%, 0.58);
    }

    & .burger {
      width: 60px;
      height: 30px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media #{$tablet} {
        display: none;
      }

      @media #{$mobile} {
        display: none;
      }

      &:before, &:after {
        content: '';
        display: inline-block;
        height: 38px;
        width: 5px;
        background-color: #1f587d;
        position: relative;
        transition: 300ms ease-in-out transform;
        transition-delay: 350ms;
      }

      &:before {
        transform: rotate(-45deg);
        left: 16px;
        top: -4px;
      }

      &:after {
        transform: rotate(45deg);
        left: 35px;
        top: -4px;
      }

      &.open {
        &:before {
          transform: translateX(12px) rotate(-45deg);
        }
        &:after {
          transform: translateX(-12px) rotate(45deg);
        }
      }
    }

          // ELDER BURGER VERSION:
    // & .burger {
    //   position: absolute;
    //   width: 32px;
    //   height: 32px;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   // outline: 1px solid orange;
    //
    // }
    //
    // & .block {
    //   background: #1f587d;
    //   width: 38px;
    //   height: 5px;
    //   position: absolute;
    // }
    //
    // & .block-1 {
    //   top: 11px;
    //   left: 1px;
    //   transform: translate(-4px, 2px) rotate(-45deg);
    // }
    // & .block-2 {
    //   display: none;
    // }
    // & .block-3 {
    //   top: 11px;
    //   left: 1px;
    //   transform: translate(-4px, 2px) rotate(45deg);
    // }
          // ELDER BURGER VERSION END


  }
}


.offcanvas-nav-side__top-row {
  height: 105px;
  // background: hsla(305, 19%, 16%, 0.58);
  background: #eaeae6;

  @include clearfix;

  @media #{$tablet} {
    height: 60px;
  }

  @media #{$mobile} {
    height: 60px;
  }



  & .CLASS{

  }
}


.offcanvas-nav-side {
  & .offcanvas-nav-side__content{
    position: relative;
    width: 100%;
    height: 100%;
    @media #{$tablet} {
      background: #eaeae6;
    }
    @media #{$mobile} {
      background: #eaeae6;
    }
  }
}


.offcanvas-nav-side {
  & .offcanvas-nav-side__menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
  }
}


.offcanvas-nav-side__logo {
  position: relative;
  width: 100px;
  height: 105px;
  float: right;

  @media #{$mobile-tablet} {
    display: none;
  }
  & .logo {
    position: absolute;
    top: 20px;
    left: 15px;
    background: url('../img/offcanvas-nav_logo.png') no-repeat;
    width: 69px;
    height: 65px;
  }
}


// .logo-t-overlay {
//   @media #{$wide} {
//     display: none;
//   }
//
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 60px;
//   width: 100px;
//   background: #eaeae6;
// }


.offcanvas-nav-side__menu__item {
  position: relative;
  height: 105px;
  width: 100px;
  border-bottom: 1px dashed transparent;
  border-top: 1px dashed transparent;
  transition: .3s ease-out;

  @media #{$mobile} {

    width: auto;
    height: auto;
  }
}


.offcanvas-nav-side__menu__item .link {
  display: block;
  position: relative;
  height: 105px;
  width: 100px;
  text-decoration: none;

  @media #{$mobile} {
    padding: 20px 0 20px;
    width: auto;
    height: auto;
  }
}


.offcanvas-nav-side__menu__item .link__text {
  @media #{$mobile} {
    position: relative !important;
    bottom: 0 !important;
  }
}


.offcanvas-nav-side__menu__item .svg-icon {
  @media #{$mobile} {
    display: none;
  }
}


.offcanvas-nav-side__menu__item {

  &:first-child {
    &::before {
      @media #{$mobile-tablet} {
        border-bottom: 1px solid #96b5c7;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &::before {
    top: -1px;
    // border-bottom: 1px solid crimson;
    border-bottom: 1px dashed #636361;
  }
  &::after {
    content: none;
    bottom: -1px;
    // border-bottom: 1px solid limegreen;
    border-bottom: 1px dashed #636361;
  }


  &.item-windows .link > .link__text {
    display: block;

    position: absolute;
    bottom: 20px;

    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #444341;
    @include font(normal, 400, 15px, 12px, 'Roboto Condensed')
  }
  & .icon-item-windows{
    width: 48px;
    height: 39px;
    position: absolute;
    top: 20px;
    left: 25px;
  }
}

.offcanvas-nav-side__menu__item {

  &:hover {
    background: #d7d7d4;
    &::before {
      border-bottom: 1px solid #96b5c7;
    }
    & + .offcanvas-nav-side__menu__item {
      &::before {
        border-bottom: 1px solid #96b5c7;
        box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
      }
    }
  }


  &.opened {
    background: #d7d7d4;
    &::before {
      border-bottom: 1px solid #96b5c7;
    }
    & + .offcanvas-nav-side__menu__item {
      &::before {
        border-bottom: 1px solid #96b5c7;
        box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
      }
    }

    @media #{$tablet} {
      &.item-search {
        &::after {
          content: '';
          border-bottom: 1px solid #96b5c7;
          box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
        }
      }
    }

    @media #{$mobile} {
      &.item-callback {
        &::after {
          content: '';
          border-bottom: 1px solid #96b5c7;
          box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}
.offcanvas-nav-side__menu__item:last-child {
  &:hover {
    background: #d7d7d4;
    &::before {
      border-bottom: 1px solid #96b5c7;
    }
    &::after {
      content: '';
      border-bottom: 1px solid #96b5c7;
      box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
    }
  }
}
@media #{$tablet} {
  .offcanvas-nav-side__menu__item.item-search {
    &:hover {
      // background: #d7d7d4;
      // &::before {
      //   border-bottom: 1px solid #96b5c7;
      // }
      &::after {
        content: '';
        border-bottom: 1px solid #96b5c7;
        box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
@media #{$wide} {
  .offcanvas-nav-side__menu__item.item-useful {
    &:hover {
      &::after {
        content: '';
        border-bottom: 1px solid #96b5c7;
        box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
@media #{$mobile} {
  .offcanvas-nav-side__menu__item.item-callback {
    & .link__text {
      padding: 0 10px;
    }
  }
}
@media #{$tablet-wide} {
  .offcanvas-nav-side__menu__item.item-callback {
    display: none;
  }
}


.offcanvas-nav-side__menu__item {

  &.item-glazing {

    // border-top: 1px dashed #636361;
    // border-bottom: 1px dashed #636361;

  }

  &.item-glazing .link > .link__text {
    display: block;

    position: absolute;
    bottom: 20px;

    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #444341;
    @include font(normal, 400, 15px, 12px, 'Roboto Condensed')
  }
  & .icon-item-glazing{
    width: 48px;
    height: 39px;
    position: absolute;
    top: 20px;
    left: 25px;
  }
}

// item-production ICON && TEXT
.offcanvas-nav-side__menu__item {

  &.item-production {

    // border-top: 1px dashed #636361;
    // border-bottom: 1px dashed #636361;
  }

  &.item-production .link > .link__text {
    display: block;

    position: absolute;
    bottom: 20px;

    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #444341;
    @include font(normal, 400, 15px, 12px, 'Roboto Condensed')
  }
  & .icon-item-production{
    width: 48px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 25px;
  }
}

// item-prices ICON && TEXT
.offcanvas-nav-side__menu__item {
  &.item-prices .link > .link__text {
    display: block;

    position: absolute;
    bottom: 20px;

    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #444341;
    @include font(normal, 400, 15px, 12px, 'Roboto Condensed')
  }
  & .icon-item-prices{
    width: 48px;
    height: 44px;
    position: absolute;
    top: 16px;
    left: 26px;
  }
}

// item-BTM ICON && TEXT
.offcanvas-nav-side__menu__item.item-btm {
  width: auto;
  height: auto;
  & .link{
    width: auto;
    height: auto;
    padding: 15px 0 15px;
  }
  & .link__text {
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #444341;
    @include font(normal, 400, 15px, 24px, 'Roboto Condensed');
  }
}

.offcanvas-nav-side__menu__item.item-about {

  // outline: 2px dashed tan;
  // outline-offset: 2px;

  position: relative;
  border-top: 1px dashed #636361;
  // border-bottom: 1px dashed #636361;

  // &.opened {
  //
  //   border-top: 1px solid #96b5c7;
  //   border-bottom: 1px solid transparent;
  //   background: #d7d7d4;
  //
  //   // &::before {
  //   //   content:"";
  //   //   position: absolute;
  //   //   width: 100%;
  //   //   height: 1px;
  //   //   background: #96b5c7;
  //   //   bottom: 0;
  //   //   left: 0;
  //   //   box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.12);
  //   // }
  // }
}

@media #{$wide} {
  .offcanvas-nav-side__menu__item.item-btm {
    &.item-useful {

      // border-top: 1px dashed #636361;
      border-bottom: 1px dashed #636361;
    }
  }
}

@media #{$mobile-tablet} {
  .offcanvas-nav-side__menu__item.item-btm {
    // &.item-useful{
    &:last-child {

      // border-top: 1px dashed #636361;
      border-bottom: 1px dashed #636361;
    }
  }
}


.offcanvas-nav-side__menu__item.item-btm {
  &.item-search {

    @media #{$wide} {
      display: none;
    }

    @media #{$tablet} {
      border-bottom: 1px dashed #636361;
    }

    & .icon-nav-search{

      width: 48px;
      height: 48px;
      margin: 0 auto;
      display: block;
      margin-bottom: 5px;

      @media #{$mobile} {
        display: none;
      }
    }
  }
}



.PROTO {
  & .CLASS{

  }
}





// menu-items


.PROTO {
  & .CLASS{

  }
}


.PROTO {
  & .CLASS{

  }
}


.PROTO {
  & .CLASS{

  }
}


.PROTO {
  & .CLASS{

  }
}

// menu-items END

.PROTO {
  & .CLASS{

  }
}



.offcanvas-nav-side {
  & .CLASS{

  }
}



// sub-menu

.offcanvas-nav-side {
  & .offcanvas-nav-side__sub-menus{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    background: #d7d7d4;
    border-top: 1px solid #96b5c7;
    padding: 25px;
    // display: block;
    display: none;

    @media #{$mobile} {
      padding: 25px 10px 25px 25px;
    }

    // outline: 2px dashed forestgreen;
    // outline-offset: -2px;

    // display: none;

    &.subm__windows {
      // padding-bottom: 200px;
    }

    &.subm__about {
      // display: none;
      // outline: 2px dashed crimson;
      // outline-offset: -2px;
      // padding-bottom: 200px;
    }
    &.subm__burger_search {

      width: 200px;
      height: 2000px;
      padding: 95px 10px 0;
      transition: .2s linear;

      @media #{$tablet} {
        background: #d7d7d4 url('../img/offcanvas-nav_watermark.png') left 0px top 470px no-repeat;
      }

      @media #{$mobile} {
        background: #d7d7d4 url('../img/offcanvas-nav_watermark.png') left -93px top 490px no-repeat;
      }

      @media #{$mobile} {
        padding: 80px 10px 0;
      }

      &.expanded {
        width: 300px;

        @media #{$mobile} {
          width: 210px;
        }
      }
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 180px;
      // background: #d7d7d4;
      // border-top: 1px solid #96b5c7;
      // padding: 25px;



      // display: none;
      // outline: 2px dashed crimson;
      // outline-offset: -2px;
      // padding-bottom: 200px;
      & .icon-burger-search {
        width: 48px;
        height: 48px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
      }

      & .offcanvas-nav-side__search.title {
        @include font(normal, 600, 14px, 11px, "Roboto Condensed");
        color: #444341;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;

        @media #{$mobile} {
          @include font(normal, 600, 14px, 16px, "Roboto Condensed");
        }
      }

      & .offcanvas-nav-side__form-input {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        @include font(normal, 300, 14px, 50px, 'Roboto');
        color: #8e8e8e;
        margin-bottom: 30px;
        outline: none;
        border: none;
      }

      & .offcanvas-nav-side__form-btn {
        display: block;
        width: 100%;
        height: 50px;
        @include font(normal, 400, 18px, 50px, 'Roboto');
        color: #f9f9f9;
        background: #42a455;
        white-space: nowrap;
        box-shadow: 2.6px 3.1px 7px rgba(26, 47, 60, 0.21);
        border: none;
        outline: none;
        transition: .3s ease-in-out;
        cursor: pointer;
        user-select: none;
        position: relative;
        top: 0;
      }

    }
  }
}


.offcanvas-nav-side__sub-list__title {
  margin-bottom: 25px;
}


.offcanvas-nav-side {
  & .offcanvas-nav-side__sub-list__title__link{
    display: block;
    text-align: center;
    @include font(normal, 300, 15px, 12px, 'Roboto');
    color: #444341;
    padding: 10px 0;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 400ms;
    cursor: pointer;

    position: relative;


    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: url('../img/offcanvas-stroke.png');
    }

    &.active,
    &:hover {
      @include font(normal, 600, 14px, 12px, 'Roboto');
      color: #444341;

      &::before {
        background: transparent;
        border-bottom: 1px solid #444341;
      }
    }

  }
}


.offcanvas-nav-side {
  & .offcanvas-nav-side__sub-list__link{
    display: block;
    @include font(normal, 300, 14px, 14px, 'Roboto');
    color: #444341;
    text-decoration: none;
    text-align: center;
    padding: 7px 0;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }

  }
}


.offcanvas-nav-side {
  & .CLASS{

  }
}



// sub-menu END


.overlay__offcanvas-nav-side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  // background: hsla(116, 19%, 16%, 0.78);
  z-index: 20;
  display: none;

  &.visible{
    display: block;
  }
}
